.lecture {
	&__topics-list {
		a {
			text-decoration: none;
		}
	}

	&__control-panel {
		display: flex;
		justify-content: space-between;

		@media (max-width: 576px) {
			flex-direction: column;

			&-right {
				margin-top: 20px;
				display: flex;
				margin-right: -3.5px;
			}

			.ui.primary.button {
				width: 100%;
			}
		}
	}
}
